.textarea {
	display: block;
	margin: 10px 0px;
	border: 2px solid rgb(173, 104, 104) ;
	border-radius: 5px;
}
.textarea:focus {
	box-shadow: 5px 0 5px  rgba(138, 58, 4, 0.822);
	cursor: pointer;
	transition: all 0.3s;
}