.layout {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vw;
	max-width: 1200px;
	margin: 0px auto;
}

.wrapper {
	display: flex;
	width: 100%;
	min-height: 100vw;
	background-color:  rgba(182, 179, 178, 0.185);
	background-image: url(../../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	
}

.content {
	width: 100%;
}
@media(max-width:500px){
	.wrapper {
		display: flex;
		flex-direction:column;
		justify-content: center;
		margin-top: 10px;
		
	}
	.content {
		align-self: center;
		
	}
}